{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRJ Metal Hub</title>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'myapp/prodCat.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/headerfooter.css' %}">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  </head>
<body>
    <div class="grid-container">

        <header id="header-container">
            <div class="topnav" id="myTopnav">
              <div class="brand"><a href="/myapp"><img src="{% static 'myapp/brand_logo.png' %}" id="brand-logo"></a></div>

              <div class = "wrap">
                 <div class = "other">
                   <a href="/myapp" class="abtn" id="home">Home</a>
                    <a href="/myapp/newArrivals" class="abtn" id="new">New Arrivals</a>
                    <a href="/myapp/offers" class="abtn">Offers</a>
                  </div>
                
                  <div class="shifthover">
                    {% for categories in category %}
                      <a href="/myapp/prodCat/?categories={{categories.id}}">{{categories.name}}</a>
                    {% endfor %}
                  </div>
                </div>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
              </div>
        </header>


        <div class="main-container">
            <div class="main-container-1">
            </div>

            <div class="main-container-2">
            {% for newArrivals in new %}
              <div class="main" id="{{newArrivals.id}}">
                <a href={% url 'newDesc' newArrivals.id %}>
                  <img src="{{newArrivals.image.url}}">
                  <h4>{{newArrivals.name}}</h4>
                </a>
              </div>
            {% endfor %}      
        </div>

        
        <footer>
          <div class="content">
            <div class="left box">
              <div class="lower">
                <div class="footertopic">CONTACT US</div>
                <div class="phone" style="margin-bottom: 4vh;"><h1 style="font-size: 1.6rem;color: #b8860b;">Phone</h1>
                 
                </div>
                <div class="email" style="margin-bottom: 4vh;"><h1 style="font-size: 1.6rem;color: #b8860b;">Email</h1>
                 
                </div>
                <div class="email" style="margin-bottom: 4vh;"><h1 style="font-size: 1.6rem;color: #b8860b;">Address</h1>
                    
                </div>
              </div>
            </div>
            <div class="middle box">
              <div class="footertopic">USEFUL LINKS</div>
              <div><a href="/myapp">Home</a></div>
              <div><a href="/myapp/about">About Us</a></div>
              <div><a href="/myapp/form">Contact Us</a></div>
              <div><a href="/myapp/about#privacy">Privacy Policy</a></div>
            </div>
            <div class="middle box">
              <div class="footertopic">CATEGORIES</div>
             {% for categories in category %}
                    <div><a href="/myapp/prodCat/?categories={{categories.id}}">{{categories.name}}</a></div>
               {% endfor %}
            </div>
          </div>
          <div class="bottom">
            <p>Copyright © 2021 <a href="#">VRJ Metal Hub</a></p>
          </div>
        </footer>
    </div>
    
</body>
<script>
    function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}   
</script>
</html>